#gallerypagenavbarlogo {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
nav div.nav-wrapper {
    background-color: #5F6273;
}
div.overlay {
    opacity: 0;
    position: absolute;
    top: 66px;
    bottom: -286px;  /* change this every time you add a photo to the gallery*/
    left: 0;
    right: 0;
    display: block;
    z-index: 2;
    background: transparent;
}