/*This CSS file corresponds to the index.html file.*/
/* Branding color consist of Red(#9c0c0c) - White(#F6E9E8) - Black(#101010) */

/* Selects the document's root element */
:root {
    background-color: #9c0c0c;
    color: #F6E9E8;
    font-family: Arial, Helvetica, sans-serif;
}

/*Universal Selector of all html elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Navigation options inside the header*/
nav {
    width: 100%;
    padding: 3px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
}
li {
    display: inline-block;
    padding: 10px 6px;
}
/*Changes appearance of the navigation option when hovered over*/
li:hover {
    background-color: #F6E9E8;
    color:#9c0c0c;
}
/*---------------------------------------------------------*/
/* Main body of content*/
#about-me-div {
    padding: 30px 190px; /*Possibly change values in the future*/
    display: flex;
    justify-content: center;
    align-items: center;

}
#about-me-paragraph {
    width: 460px;
    height: 360px;
}
/*Holds the selected work articles*/
main {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
}
/*Selected Work Text*/
main h3 {
    padding-left: 25px;
    padding-bottom: 2px;
}
.project-showcase {
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.project-image {
    margin: 0px 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
 /*Discover Buttons inside Selected Work*/
.button {
    background-color: #9c0c0c;
    color: #F6E9E8;
    align-self: flex-end;
    cursor: pointer;
    border: 1;
    border-radius: 100px;
    border-style: solid;
    border-color: #F6E9E8;
    font-size: 16px;
    padding: 10px;
}
.button:hover {
    background-color: #F6E9E8;
    color: #9c0c0c;
}
/*---------------------------------------------------------*/
/*Styling for the footer*/
footer {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
}
#footer-socials-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-socials-div a { 
    display: inline-block;
    padding: 4px 6px;
}
footer a:hover {
    background-color: #F6E9E8;
    color: #9c0c0c;
}