<!DOCTYPE html>
<html lang="en">

<head>
	<title>Code Projects</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="../css/codingpage.css" media="screen">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Javacript -->
	<script type="text/javascript" src="../js/materialize.min.js" defer></script>
</head>

<body>
	<!-- Top Navbar -->
	<nav>
		<div class="nav-wrapper">
			<a href="../index.html" class="brand-logo hide-on-med-and-down" id="codepagenavbarlogo">TTALGIHON</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li class="hoverable"><a href="../index.html">Home</a></li>
				<li class="hoverable"><a href="gallery.html">Gallery</a></li>
				<li class="active hoverable"><a href="codingpage.html">Code</a></li>
			</ul>
		</div>
	</nav>
</body>
</br>
<main>
	<!-- Row 1  -->
	<div class="row">
		<div class="col xl6 center">
			<!-- Music Project #1 -->
			<a href="#">
				<img class="responsive-img" src="../images/music_project_poster.jpg	" 
				alt="A beige poster with a red and blue capital letter M."
				style="width:auto;height:710px;">
			</a>

			<!-- Puppy Project #2 -->
			<a href="#">
				<img class="responsive-img" src="../images/puppy_app_poster.jpg" 
				alt="A black and white poster with two dogs looking in the oopsite direction."
				style="width:auto;height:710px;">
			</a>
		</div>
		
		<div class="col xl6">
			<!-- First Simple Javscript Game -->
			<a href="#">
				<img class="responsive-img" src="../images/pyschic_game_poster.jpg" 
				alt="Square poster that says 'Pyschic Game, ttalgihon'"
				style="width:auto;height:460px;">
			</a>
			<a href="#">
				<img class="responsive-img" src="../images/Crystal_Game_poster.jpg" 
				alt="Square image with a blue and white crystal"
				style="width:auto;height:460px;">
			</a>
		</div>
		
		<!-- Row 2 -->
		<div class="row">
			<div class="col xl2" style="padding-right:2px;float:inline-end;width:245px" >
				<a href="">
					<img class="responsive-img" src="../images/Giphy_API.jpg" 
					alt="poster that says Giphy API"
					style="width:245px;height:245px;padding-right:2px">
				</a>
			</div>
			<div class="col xl" style="padding:0px">	
				<a href="#">
					<img class="responsive-img" src="../images/Github Banner.jpg" 
					alt="Github Profile Banner"
					style="width:690px;height:245px;padding-left:0px">
				</a>
			</div>
		</div>

	</div>
</main>

</html>