<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Vivi's Data Analyst Portfolio</title>
	<!--Favicon is the small image that appears in the tab -->
	<link rel="icon" href="images/favicon2.ico" />
	<!--CSS-->
	<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header>
		<nav>
			<h1>
				<a href="/" target="_self">Viviana Rincon</a>
			</h1>
			<small>Data Portfolio</small>
		</nav>
	</header>
	
    <main>
        <!--empty-->
    </main>

    <footer>
        <!--empty-->
    </footer>
</body>