<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Vivi's Developer Portfolio</title>
	<!--Favicon is the small image that appears in the tab -->
	<link rel="icon" href="images/favicon2.ico" />
	<!--CSS-->
	<link rel="stylesheet" href="../css/showcasing.css" />
</head>

<body>
	<div class="container">
		<header>
			<nav>
				<h1>
					<a href="/" target="_self">Viviana Rincon</a>
				</h1>
				<small>(Web Portfolio)</small>
			</nav>
		</header>

		<main>
			<h1> Grid Dev </h1>

			<div class="project-information-container">
				<div class="project-info-list">
					<ul>
						<li>
							<div>
								<small>small title</small>
								<p>info of title</p>
							</div>
						</li>
						<li>
							<div>
								<small>small title</small>
								<p>info of title</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="web-stack-list">
					<ul>
						<li>web stack #1</li>
						<li>web stack #2</li>
						<li>web stack #3</li>
						<li>web stack #4</li>
					</ul>
				</div>
				<div class="project-info-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan tortor posuere. Vulputate ut pharetra sit amet aliquam id. Ultrices vitae auctor eu augue ut lectus arcu bibendum at.</p>
				</div>
			</div>

			<div class="project-visuals">
				<img src="/images/Milk_Neon.jpg" />
				<small> 01 </small>
			</div>
		</main>

		<footer>
			<ul class="social-media-links">
				<li>
					<a href="https://www.linkedin.com/in/vivimrincon/">Linkedin</a>
				</li>
				<li>
					<a href="https://www.youtube.com/@V__RR">YouTube</a>
				</li>
				<li>
					<a href="mailto:vivianamrincon@gmail.com
					?subject=Saying%20Hello&#128125; &#128406;&body=Dear%20Viviana%2C%0A%0AYour%20website%20showcases%20some%20unique%20possibilities%2C%20
					and%20I'm%20excited%20to%20learn%20more%20on%20how%20we%20can%20collaborate.%20
					My%20project%20is%20in%20search%20of%20a%20professional%20with%20your%20particular%20skills%20that%20ca	n%20elevate%20the%20value%20we%20deliver%20to%20our%20customers.%20
					When%20can%20we%20connect?%0A%0AWarm%20Regards%2C%0A
					...">Email</a>
				</li>
			</ul>
		</footer>
	</div>
</body>

</html>