<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Vivi's Project Manager Portfolio</title>
	<!--Favicon is the small image that appears in the tab -->
	<link rel="icon" href="images/favicon2.ico" />
	<!--CSS-->
	<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header>
		<nav>
			<h1>
				<a href="/" target="_self">Viviana Rincon</a>
			</h1>
			<a href="mailto:vivianamrincon@gmail.com
				?subject=Saying%20Hello&#128125; &#128406;&body=Dear%20Viviana%2C%0A%0AYour%20website%20showcases%20some%20unique%20possibilities%2C%20
				and%20I'm%20excited%20to%20learn%20more%20on%20how%20we%20can%20collaborate.%20My%20project%20is%20in%20search%20of%20a%20professional%20with%20your%20particular%20skills%20that%20can%20elevate%20the%20value%20w20deliver%20to%20our%20customers.%20When%20can%20we%20connect?%0A%0AWarm%20Regards%2C%0A
				...">Contact</a>
		</nav>
	</header>
	
    <main>
        <!--empty-->
    </main>

    <footer>
        <!--empty-->
    </footer>
</body>