<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Vivi's Photography Hobby</title>
	<!--Favicon is the small image that appears in the tab -->
	<link rel="icon" href="images/favicon2.ico" />
	<!--CSS-->
	<link rel="stylesheet" href="../css/style.css" />
</head>

<body>
	<header>
		<nav>
			<h1>
				<a href="/" target="_self">Viviana Rincon</a>
			</h1>
			<a href="mailto:vivianamrincon@gmail.com
				?subject=Saying%20Hello&#128125; &#128406;&body=Dear%20Viviana%2C%0A%0AYour%20website%20showcases%20some%20unique%20possibilities%2C%20
				and%20I'm%20excited%20to%20learn%20more%20on%20how%20we%20can%20collaborate.%20My%20project%20is%20in%20search%20of%20a%20professional%20with%20your%20particular%20skills%20that%20can%20elevate%20the%20value%20w20deliver%20to%20our%20customers.%20When%20can%20we%20connect?%0A%0AWarm%20Regards%2C%0A
				...">Contact</a>
		</nav>
	</header>
	
</br>
<main class="container">
	<!-- Image Content -->
	<!-- Row 1 -->
	<div class="overlay"></div>
	<div class="row">
		<div class="col xl6 l6">
			<img class="responsive-img" src="../images/Special_place.jpg"
			alt="A signed that says special exhibit in the center, surrounded by tropical flora" 
			style="width:100%">
		</div>
		<div class="col xl6 l6 hide-on-small-only">
			<img class="responsive-img" src="../images/Green_leaf.jpg" 
			alt="Sunlight peeking through the holes on a banana leaf - scientific name is Musa acuminata." 
			style="width:100%">
		</div>
	</div>

	<!-- Row 2 -->
	<div class="row">
		<div class="col xl6 l6">
			<img class="responsive-img" src="../images/white_flowers.jpg" 
			alt="A field of white lavender flowers."
			style="width:100%">
		</div>
		<div class="col xl6 l6 hide-on-med-and-down">
			<img class="responsive-img" src="../images/Pink_flower.jpg" 
			alt="A big pink flower on the bottom right corner surround by foliage."
			style="width:100%" height="412px">
		</div>
	</div>

	<!-- Row 3 -->
	<div class="row">
		<div class="col xl6 l6">
			<img class="responsive-img" src="../images/Gray_stairs.jpg" 
			alt="Abstract black and white subway lighting"
			style="width:100%">
		</div>
		<div class="col xl6 l6">
			<img class="responsive-img" src="../images/ny_building.jpg" 
			alt="The top of a old new york building in black and white"
			style="width:100%" height="410px">
		</div>
	</div>

	<!-- Row 4 -->
	<div class="row">
		<div class="col xl6 l6">
			<img class="responsive-img" src="../images/Quick_Neon_Ponce.jpg" 
			alt="Blue neon sign"
			style="width:100%">

		</div>
		<div class="col xl6 l6">
			<img class="responsive-img" src="../images/Milk_Neon.jpg" 
			alt="Pink neon sign that says 'milk'"
			style="width:100%">
		</div>
	</div>
</main>
</body>

</html>